@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+MX+Guides&display=swap");

.nav-wrapper {
  background: rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 30;
  backdrop-filter: blur(50px);
}

.nav-container {
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 0 auto;
}
.nav-container ul {
  display: flex;
  align-items: center;
  grid-area: 0.5rem;
  list-style-type: none;
}

.nav-container li {
  margin: 0 1.5rem;
}

.logo {
  width: 120px; /* Set the width of the image */
  height: auto; /* Ensure the height scales automatically */
  /* You can add additional styling like margin, padding, or alignment as needed */
}

.menu-item {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #ffffff;
  position: relative;
  cursor: pointer;
}

.menu-item::before {
  content: "";
  width: 2rem;
  height: 0.2rem;
  background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
  border-radius: 0.5rem;
  position: absolute;
  bottom: -0.6rem;
  opacity: 0;
  transform: translateX(-1.5rem);
  transition: all 0.3s ease;
}

.menu-item:hover::before {
  width: 100%;
  transform: translateX(0);
  opacity: 1;
}
.contact-btn {
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
  padding: 0.6rem 2rem;
  border: none;
  border-radius: 0.2rem;
  outline: 1.5px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  color: #a993fe;
  background: #000;
  outline: 1.5px solid #a993fe;
}

.menu-btn {
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  font-size: 1.5rem;
  display: none; /* Hidden by default */
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.4rem;
  background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
  line-height: 0;
  cursor: pointer;
  transition: all 0.4s ease;
  pointer-events: auto;
}
.menu-btn svg path {
  fill: #ffffff; /* Change SVG path fill color on hover */
}

.menu-btn:hover {
  color: #a993fe;
  background: #000;
  border: 1px solid #a993fe;
}

.menu-btn:hover svg path {
  fill: #a993fe; /* Change SVG path fill color on hover */
}

@media (max-width: 425px) {
  .logo {
    font-size: 27px;
  }
}

@media (max-width: 820px) {
  .menu-btn {
    display: flex; /* Make the button visible on mobile */
  }

  .nav-container ul {
    display: none; /* Hide the navigation links on mobile */
  }
}

@media (max-width: 1325px) {
  .nav-wrapper {
    padding: 0 2rem;
  }
}
